.TranslationList {
    list-style: none;
    border-bottom: 1px solid #E8E8E8;
}

.ProfileTitle {
    margin-top: 15vh;
    font-weight: 300;
    font-size: 40px;
    color: white;
    margin-bottom: 1rem;
}

.TranslationTitle {
    font-weight: 500;
    font-size: 30px;
    color: var(--colour4);
    margin-bottom: 1rem;
}

.ProfilePage {
    display: flex;
    justify-content: center;
}

.TranslationContainer {
    background-color: var(--colour2);
    border-radius: 10px;
    padding: 1rem;
    border: 2px solid var(--colour4);
    width: 70vw;
}

.ProfileButton{
    display: inline-block;
    background-color: transparent;
    padding: 0.1em 1.2em;
    font-size: 20px;
    border: 0.10em solid var(--colour3);
    border-radius: 10px;
    margin: .5em 2em 0 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color:var(--colour3);
    text-align: center;
    transition: all 0.4s;
}

.ProfileButton:hover{
    color:rgb(207, 207, 207);
    border-color:rgb(207, 207, 207);
}
