.TranslateTitle {
    font-weight: 300;
    font-size: 40px;
    color: white;
    margin-bottom: 3rem;
}

.TranslatePage {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

.Label {
    font-weight: 400;
    margin-bottom: .5rem;
}

.TranslateButton{
    display: inline-block;
    background-color: transparent;
    font-size: 20px;
    padding: 0.1em 1.2em;
    border: 0.10em solid var(--colour3);
    border-radius: 10px;
    margin: 1em 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color:var(--colour3);
    text-align: center;
    transition: all 0.4s;
}

.TranslateButton:hover{
    color:rgb(207, 207, 207);
    border-color:rgb(207, 207, 207);
}