.Navbar {
    background: var(--colour2);
    color: white;
    display: flex;
    align-items: center;
}

.NavbarMenuItem {
    padding: 1rem;
    font-weight: 500;
}

.Username {
    padding: 1rem;
    font-weight: 600;
}

.NavbarTitle {
    color: var(--colour3);
    padding: 1rem;
    font-size: 30px;
    font-weight: 500;
    margin-left: 1rem;
}

.NavbarProfile {
    cursor: pointer;
}

.ProfileIcon {
    margin-left: auto;
}

.Logout {
    cursor: pointer;
    font-weight: 400;
}
