@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
  --colour1: #2A0944;
  --colour2: #3B185F;
  --colour3: #FEC260;
  --colour4: #A12568;
}

*{
  font-family: 'Roboto', sans-serif;
}

.App{
  background-color: var(--colour1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
